@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    margin-top: 0px;
    margin: auto;
}

.intro {
    height: 95vh;
    width: 100%;
    background-color: #0c5f51;
}


#logo {
    display: inline-block;
}


#logo img {
    height: 43px;
    width: 46px;
    margin-left: 107px;
    margin-top: 26px;
    border-radius: 5px;
    float: left;
}

#logo h1 {
    color: white;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 26px 20px;
}

.nav {
    width: 81%;
    height: 11vh;
    float: right;
    margin: 11px 4px;
}

.nav ul {
    list-style: none;
    margin-left: 158px;
}

.nav ul li a {
    text-decoration: none;
    float: left;
    font-size: 20px;
    color: white;
    padding: 27px 31px;
    transition: all .1s ease-in-out;
}

.nav ul li a:hover {
    border-bottom: 3px solid #fdd65d;
}

.nav button {
    height: 47px;
    width: 83px;
    background-color: #fdd65d;
    color: black;
    margin: 12px 18px;
    font-size: 15px;
    border: 1px solid black;
    transition: all .1s ease-in-out;
}

.nav button:hover {
    background-color: #f7b900;
    cursor: pointer;
}

#left {
    height: 60vh;
    width: 36%;
    margin: 38px 108px;
    float: left;
    margin-right: 50px;
}

#left h1 {
    color: white;
    /* line-height: 1.6; */
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}

#left p {
    color: white;
    font-family: 'Labrada', serif;
    margin: 20px 0px;
}

#btn2 {
    height: 47px;
    width: 100px;
    background-color: #fdd65d;
    color: black;
    float: left;
    margin: 12px 10px;
    font-size: 14px;
    border: 1px solid black;
    transition: all .1s ease-in-out;
}

#btn2:hover {
    background-color: #f7b900;
    cursor: pointer;
}

#btn3 {
    height: 47px;
    width: 142px;
    display: flex;
    color: white;
    margin: 32px 0px;
    font-size: 17px;
    padding: 0px 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#btn3 img {
    height: 20px;
    width: 21px;
    padding: 0px 13px;
}

#right {
    /* background-color: black; */
    color: white;
    display: inline-block;
    height: 64vh;
    width: 52%;
}

#outer {
    height: 62vh;
    width: 62%;
    border-radius: 50%;
    margin: 0px 0px;
    display: inline-block;
}

#inner::before {
    content: "";
    background-image: url(Image/intro.jpg);
    background-size: cover;
    position: absolute;
    height: 61vh;
    margin: -40px -39px;
    border-radius: 50%;
    width: 31%;
    z-index: 1;
    opacity: 0.2;
}

#inner {
    z-index: 10;
    height: 50vh;
    width: 80%;
    opacity: 1;
    background: center/cover url(Image/intro.jpg);
    z-index: 10;
    border-radius: 50%;
    margin: 42px 50px;
    display: inline-block;

}

#btn4 {
    height: 54px;
    width: 152px;
    background-color: #fdd65d;
    color: black;
    float: right;
    box-shadow: 1px 6px 13px black;
    margin: -11px -1px;
    bottom: 194px;
    border-radius: 29px;
    position: absolute;
    font-size: 17px;
    border: 0.5px solid black;
    transition: all .1s ease-in-out;
}

#btn4:hover {
    background-color: #f7b900;
    cursor: pointer;
}

#btn5 {
    height: 54px;
    width: 54px;
    background-color: #fdd65d;
    color: black;
    box-shadow: 1px 6px 13px black;
    float: right;
    margin: -11px 163px;
    bottom: 194px;
    border-radius: 68px;
    position: absolute;
    font-size: 17px;
    border: 0.5px solid black;
    transition: all .1s ease-in-out;
}

#middle {
    height: 35vh;
    width: 70%;
    margin: auto;
    position: relative;
    background-color: #f9f8f0;
    top: -112px;
    z-index: 10;
}

#middle h2 {
    text-align: center;
    color: black;
    top: 50px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.content2 {
    top: -203px;
    position: relative;
    height: 77vh;
    width: 100%;
    /* background-color: gold; */
    z-index: 1;
}

#m1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 73px;
}

#m1 img {
    height: 100px;
    width: 13%;
}

.contentleft {
    height: 76vh;
    width: 38%;
    /* background-color: gold; */
    margin: 78px 108px;
    float: left;
    margin-right: 1px;
    top: 127px;
    position: relative;
}

.contentleft h4 {
    color: black;
    top: 9px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.contentleft h1 {
    color: black;
    padding: 18px 0px;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}

.contentleft p {
    color: black;
    margin: 20px 0px;
}


.contentright {
    height: 76vh;
    width: 52%;
    /* background-color: black; */
    margin: 78px 0px;
    float: right;
    top: 127px;
    right: 27px;
    position: relative;
}

#img1 {
    height: 31%;
    width: 30%;
    top: 141px;
    z-index: 2;
    position: relative;
    border: 5px solid white;
}

#img2 {
    height: 50%;
    width: 40%;
    z-index: 1;
    position: relative;
    left: -104px;
}

#img3 {
    right: 70px;
    height: 33%;
    width: 29%;
    position: relative;
    border: 8px solid white;
    filter: drop-shadow(6px 6px 0px gold);
    top: -243px;
    float: right;
}

#img4 {
    height: 33%;
    width: 29%;
    left: 259px;
    top: 16px;
    position: relative;
    border: 5px solid white;
    filter: drop-shadow(9px 10px 4px black);

}

.content3 {
    height: 120vh;
    width: 100%;
    background-color: #f9f8f0;
}

.content3 h1 {
    color: black;
    padding: 0px 0px;
    position: relative;
    font-size: 42px;
    font-family: 'Roboto', sans-serif;
    top: -73px;
    left: 148px;
    display: inline-block;
}

#div {
    height: 31vh;
    width: 100%;
    position: relative;
    top: -21px;
}

#div1 {
    height: 34vh;
    width: 24%;
    position: relative;
    margin: 0px 28px;
    float: left;
    left: 122px;
    margin-bottom: 47px;
}

#div1 img {
    height: 25%;
    width: 19%;
    position: relative;
    border: 2px solid #d2c87b;
    left: 21px;
    top: 19px;
}

#div1 h2 {
    color: black;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 38px;
    cursor: pointer;
    left: 22px;
}

#div1 p {
    color: black;
    position: relative;
    top: 56px;
    left: 22px;
    padding: 0px 44px 0px 1px;
}

.content4 {
    height: 113vh;
    width: 100%;
    background-color: #0c5f51;
}

.content4 h1 {
    color: white;
    position: relative;
    top: 50px;
    font-size: 42px;
    left: 209px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}


.content4 img {
    height: 50vh;
    width: 72%;
    margin: auto;
    display: block;
    position: relative;
    top: 124px;
    left: 0px;
}

.content4 h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 154px;
    font-size: 31px;
    cursor: pointer;
    left: 211px;
    display: inline-block;
}

.content4 p {
    color: #ffdada;
    position: relative;
    top: 168px;
    left: 211px;
    font-size: 14px;
    font-family: 'Labrada', serif;
    display: inline-block;
}

.content4 p a {
    color: yellow;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    top: 10px;
    position: relative;
}
#content4a{
    height: 5%;
    width: 3%;
    float: right;
    cursor: pointer;
    right: 216px;
    position: relative;
    border: 2px solid white;
    top: 113px;
    text-align: center;
    margin: 0px 9px;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    font-size: 21px;
}

.content5 {
    height: 100vh;
    width: 100%;
    background-color: #f9f8f0;
}

.content5 h1 {
    color: black;
    position: relative;
    top: 50px;
    font-size: 42px;
    left: 209px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}
#content5a{
    height: 5%;
    width: 3%;
    float: right;
    cursor: pointer;
    right: 216px;
    position: relative;
    border: 2px solid black;
    top: 113px;
    text-align: center;
    margin: 0px 9px;
    justify-content: center;
    align-items: center;
    color: black;
    display: flex;
    font-size: 21px;
}

#cont5div1{
    position: relative;
    left: 195px;
    margin: 0px 21px;
    height: 55vh;
    float: left;
    width: 21.1%;
}
#cont5div1 img{
    height: 49%;
    top: -4px;
    width: 100%;
    position: relative;
    margin: 0px 0px 12px 0px;
}

#cont5div1 p a {
    color: #362c2c;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    top: 10px;
    position: relative;
}

#con5a{
    top: 112px;
    position: relative;
}

.content6 {
    height: 70vh;
    width: 100%;
    /* background-color: gold; */

}

#content6left{
    background-color: #0c5f51;
    width: 52%;
    height: 70vh;
    z-index: 2;
    position: relative;
    left: 0px;
    border-top-right-radius: 73px;
    border-bottom-right-radius: 71px;
    float: left;
}

#content6right{
    width: 52%;
    height: 70vh;
    position: relative;
    right: 0px;
    float: right;
    background: center/cover url(Image/lastpeople.jpg);
    z-index: -1;
    background-color: black;
    top: -525px;
}

#logo1 {
    display: inline-block;
    position: relative;
    left: 112px;
    top: 56px;
}


#logo1 img {
    height: 43px;
    width: 46px;
    margin-left: 107px;
    margin-top: 26px;
    border-radius: 5px;
    float: left;
}

#logo1 h1 {
    color: white;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 26px 20px;
}

#content6left h2 {
    color: white;
    position: relative;
    top: 189px;
    font-size: 42px;
    left: -50px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

#content6left p{
    color: #ffdada;
    position: relative;
    left: 223px;
    top: 197px;
    padding: 0px 311px 0px 0px

}

#btn6 {
    height: 47px;
    width: 125px;
    background-color: #fdd65d;
    color: black;
    float: left;
    margin: 12px 10px;
    font-size: 14px;
    position: relative;
    border: 1px solid black;
    transition: all .1s ease-in-out;
    top: 205px;
    left: 214px;
}

#btn6:hover {
    background-color: #f7b900;
    cursor: pointer;
}

#footer{
    height: 88vh;
    width: 100%;
    background-color: #f9f8f0;
}

#footer1{
    height: 42vh;
    width: 21%;
    float: left;
    top: 143px;
    position: relative;
    left: 190px;
}

#footer1 p{
    font-size: 15px;
    left: 10px;
    position: relative;
    padding: 0px 22px 0px 0px;
}


#logo2 {
    display: inline-block;
    position: relative;
    left: -93px;
    top: 0px;
}


#logo2 img {
    height: 43px;
    width: 46px;
    margin-left: 107px;
    margin-top: 26px;
    border-radius: 5px;
    float: left;
}

#logo2 h1 {
    color: white;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 26px 20px;
}

#footer2{
    height: 42vh;
    width: 16%;
    float: left;
    top: 143px;
    position: relative;
    left: 190px;
    margin: 0px 24px;
}

#footer2 h2{
    color: black;
    top: 25px;
    position: relative;
}

#footer ul{
    list-style: none;
    list-style: none;
    position: relative;
    left: -35px;
    top: 61px;
    font-size: 18px;
}
#footer ul li a{
    text-decoration: none;
    display: block;
    color: #3a3333;
    position: relative;
    margin-bottom: 15px;
}

#footer3{
    height: 42vh;
    width: 16%;
    top: 143px;
    position: relative;
    left: 730px;
    margin: 0px 24px;
}

#footer3 h2{
    color: black;
    top: -291px;
    position: relative;
}
#footer4 h2{
    color: black;
    position: relative;
}

#footer3 img{
    float: left;
    height: 9%;
    width: 13%;
    top: -274px;
    position: relative;
    left: 3px;
}

#footer3 p{
    float: right;
    position: relative;
    top: -270px;
    right: 54px;
}
#footer4 p{
    float: right;
    position: relative;
    top: -25px;
    right: 64px;
}

#footer4{
    height: 27vh;
    width: 23%;
    top: -150px;
    position: relative;
    left: 957px;
    margin: 0px 24px;
}

#footer4 input{
    height: 4vh;
    width: 82%;
    margin: auto;
    padding: 0px 19px;
}

#btn7{
    height: 36px;
    width: 327px;
    background-color: #fdd65d;
    color: black;
    float: left;
    margin: 12px 10px;
    font-size: 14px;
    position: relative;
    border: 1px solid black;
    transition: all .1s ease-in-out;
    top: 2px;
    left: -9px;
}

#btn7:hover {
    background-color: #f7b900;
    cursor: pointer;
}

#footer h3{
    text-align: center;
    position: relative;
    top: 31px;
    font-weight: 100;
    font-size: 15px;
}

#last{
    
    height: 8vh;
    width: 30%; 
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 384px;

}

#last a img{
    height: 50px;
    display: inline-block;
    width: 14%;
    margin: 0px 4px;

}
#last1{
    
    height: 8vh;
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 528px;
    top: -163px;

}

#last1 a img{
    height: 50px;
    display: inline-block;
    width: 14%;
    margin: 0px 4px;

}